<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <title>TEST</title>
</head>
<body>

<div class="container col-md-8" style="max-width: 760px">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/8797.png"
             id="icon" alt="" width="100" height="120"/>
        <h2>New Receipt</h2>


        <form method="post" th:action="@{/edit}" th:object="${receipt}" enctype="multipart/form-data">
            <input th:field="*{id}" name="receipt.id" hidden>
            <input th:field="*{votes}" name="votes" hidden>
            <input th:field="*{receiptImage}" name="receiptImage" hidden>
            <input th:field="*{author}" name="author" hidden>
            <!--FIELDS-->
            <div class="form-group row">
                <label for="receipt-name" class="col-sm-2 col-form-label">Name:</label>
                <div class="col-sm-8">
                    <input type="text" id="receipt-name" class="form-control" placeholder="Receipt name" name="name"
                           th:value="*{name}">

                </div>
            </div>
            <div class="form-group row" th:each="ingred, item: *{ingredients}">
                <label for="ingredient1" class="col-sm-2 col-form-label"
                       th:text="*{'Ingredient '+__${item.index+1}__+':'}">Ingredient 1:</label>
                <div class="col-sm-7">
                    <input th:field="*{ingredients[__${item.index}__].name}" id="ingredient1" type="text"
                           class="form-control" th:placeholder="*{'Ingredient name'}" name="receipt.ingredient.name">
                    <input th:field="*{ingredients[__${item.index}__].id}" name="receipt.ingredient.id" hidden>
                </div>

                <div class="col-sm-2">
                    <input th:field="*{ingredients[__${item.index}__].quantity}" type="text"
                           class="form-control" placeholder="Unit" name="receipt.ingredient.quantity">
                </div>

                <select th:field="*{ingredients[__${item.index}__].unit}">
                    <option th:each="unit: ${T(pl.mmieczak.cookbook.domain.IngredientUnit).values()}"
                            th:text="${unit.toString().toLowerCase()}" th:value="${unit}"></option>
                </select>

                <input th:field="*{ingredients[__${item.index}__].receipt}" name="ingredients.receipt" hidden>
            </div>

            </br>
            <h3 for="basic" class="">Choose categorties</h3>
            <select class="custom-select" id="basic" multiple="multiple" th:field="*{categories}"
                    name="categories">
                <option th:each="category: ${categories}"
                        th:value="${{category}}"
                        th:text="${category.name}"
                        th:selected="${receipt.categories.contains(category)}">
                </option>
            </select>
            <br/>
            <br/>
            <br/>
            <!--IMAGE-->
            <h3 for="basic" class="">Pick image: </h3>
            <div class="custom-file">
                <input type="file" id="image" name="image_uploads">
                <label for="image"></label>

                <div class="p-lg-4" th:if="${receipt.receiptImage}">
                    <img class="card-img-top img-fluid w-25"
                         th:src="'data:image/jpeg;base64,' + ${imgUtil.getImgData(receipt.receiptImage)}"/>
                </div>
                </br>
                <div>
                    <button>Submit</button>
                </div>
            </div>
            </br>
            </br>
            <!--AUTHOR - HIDDEN-->
            <div class="form-group row">
                <div class="col-sm-10" th:object="${receipt.author}">
                    <input th:field="*{id}" name="author.id" hidden>
                </div>
            </div>
            </br>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>